

@font-face {
    font-family: "FiraGO Medium";
    src: url("FiraGO-Medium.eot");
    src: url("FiraGO-Medium.woff") format("woff");
}

body * {
    font-family: "FiraGO Medium"
}

:root {
    --annotation-color: #E8336D;
}

.timeline {
    width: 80%;
    margin: 0 auto;
    margin-left: 70px;
    margin-bottom: 30px;
}

.timeline svg {
    overflow: visible;
}

.xAxis path {
    stroke: gray;
}

.xAxis text {
    fill: gray;
}

.tick line {
    fill: gray;
}

svg {
    overflow: visible;
}

circle {
    fill: #830303;
    stroke: red;
}

.pinText {
    font-size: 30px;
    text-anchor: middle;
    -o-table-baseline: baseline;
    fill: gray;
}

canvas {
    position: absolute;
    pointer-events: none;
}

.timeline {
    position: fixed;
    bottom: 0px;
    z-index: 10;
}

.timeline svg {
    fill: gray
}

.xAxis text {
    fill: gray;
}

.xAxis line,
.xAxis path {
    stroke: gray;
    stroke-width: 2;
}

circle:focus {
    outline: none;
}

line {
    stroke: #eae4e4;
}

.annotation path {
    stroke: var(--annotation-color);
    fill: rgba(0, 0, 0, 0);
}

.annotation path.connector-arrow {
    fill: var(--annotation-color);
}

.annotation text {
    fill: var(--annotation-color);
}

.annotation-title {
    font-weight: bold;
}

circle.handle {
    stroke-dasharray: 5;
    stroke: var(--annotation-color);
    fill: rgba(255, 255, 255, .5);
    cursor: move;
    stroke-opacity: .4;
}

circle.handle.highlight {
    stroke-opacity: 1;
}

.annotation-note-bg {
    fill: rgba(255, 255, 255, 0);
}

.annotation-encircle {
    pointer-events: none;
}

@media only screen and (max-width: 992px) {
    .sidenav.sidenav-fixed {
        -webkit-transform: translateX(0%) !important;
        transform: translateX(0%) !important;
    }
}

.play-button {
    /* left: 190px; */
    right: 0px;
    position: relative;
    top: 7px;
}

.sidenav .collapsible-body {
    padding: 0px !important;
    padding-left: 20px !important;
}


.europe-paths.even {
    stroke-dasharray: 22,0.3,22,0.3;
    -webkit-animation: mov 60.4s infinite linear;
    animation: move 60.4s infinite linear;
  }

  @-webkit-keyframes move {
    0% {
      stroke-dashoffset: 0;
    }

    100% {
      stroke-dashoffset: -182;
    }
  }

  @keyframes move {
    0% {
      stroke-dashoffset: 0;
    }

    100% {
      stroke-dashoffset: -182;
    }
  }

  .europe-paths.odd {
    stroke-dasharray: 12,0.3,12,0.3;
    -webkit-animation: mov 55s infinite linear;
    animation: move 55s infinite linear;
  }

  @-webkit-keyframes move {
    0% {
      stroke-dashoffset: 0;
    }

    100% {
      stroke-dashoffset: -182;
    }
  }

  @keyframes move {
    0% {
      stroke-dashoffset: 0;
    }

    100% {
      stroke-dashoffset: -182;
    }
  }