circle{
    fill:#830303;
    stroke:red;
}

.pinText{
    font-size:30px;
    text-anchor:middle;
    alignment-baseline: baseline;
    fill:gray;
}

input
{
    position:fixed;
    top:30px;
    height:50px;
    width:300px;
    margin:auto;
    opacity:0.2;
    border: none;
}

input,
input::-webkit-input-placeholder {
    font-size: 25px;
    line-height: 3;
   
   
}

body{
    background-color: #191919;
}

.timeline{
 width:80%;
 margin:0 auto;
 margin-left:70px;
 margin-bottom:30px;
}

.timeline svg{
    overflow:visible;
}

.xAxis path{
    stroke:gray;
}


.xAxis text{
   fill:gray;
}

.tick line{
    fill:gray;
}

svg{
    overflow:visible;
}