#download-button, #about-button {
  background-color: DodgerBlue;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 12px;
  font-style: none;
  font-weight: normal;
}

#download-button {
  background-color: RoyalBlue;
}
