.download-wrap{
    position: fixed;
    margin-left: 50%;
    z-index: 999;
}

#download-button {
    background-color: DodgerBlue;
    border: none;
    color: white;
    /* padding: 12px 20px; */
    cursor: pointer;
    font-size: 12px;
    font-style: none;
    font-weight: normal;
  }
  
  /* Darker background on mouse-over */
  #download-button {
    background-color: RoyalBlue;
  }