/** cute scrollbar **/
/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(41, 70, 89, 0.5);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(41, 70, 89, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(41, 70, 89, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(85,85,85,0.4);
}